---
permalink: /
---
<!doctype html>
<html lang="en">
  {% include 'head.liquid' %}
  <body class="ind">
    {% include 'nav.liquid' %}
    <main id="vertical">
      <article id="Intro">
        <div class="InfoPanel">
          <h1>Explore Your Weekend</h1>
          <p>Find hikes, lookouts, scenic drives, and breathtaking beaches with ease.</p>
          <div class="search">
            <div class="search-container">
              <input
                type="text"
                class="search-input"
                placeholder="Search your weekend..." />
              <button class="clear-search-button">
                <span class="material-symbols-outlined">
                  close
                </span>
              </button>
            </div>
            <div class="tag-database">
              <div class="filters"></div>
            </div>
            <div class="active-tags-container active-tags"></div>
          </div>
        </div>
      </article>

      <div id="all-content-cards" class="card-grid">
        {% for guide in collections.guides %}
          <article
            class="guide-card"
            id="{{ guide.slug }}"
            itemscope
            itemtype="https://schema.org/CreativeWork">
            <a href="/guides/{{ guide.slug }}/" itemprop="url">
              <picture>
                <source srcset="{{guide.imagePath}}" media="(min-width: 768px), (orientation: landscape)" />
                <img
                  src="{{guide.imagePath}}"
                  alt="{{ guide.title }}"
                  itemprop="image" />
              </picture>
              <div class="InfoPanel">
                <h2 itemprop="headline">{{ guide.title }}</h2>
                <p itemprop="description">{{ guide.description }}</p>
                <div class="tags" itemprop="keywords">
                  {% for tag in guide.formattedTags %}
                    <div class="tag">{{ tag.name }}</div>
                  {% endfor %}
                </div>
              </div>
            </a>
          </article>
        {% endfor %}
      </div>

      <div id="search-results-container" style="display: none;"></div>
    </main>

    <script src="/assets/js/lunr.js"></script>
    <script src="/search-logic.js"></script>
  </body>
</html>