---
pagination:
  data: locations
  size: 1
  alias: location
permalink: "locations/{{ location.slug }}/index.html"
---

<!DOCTYPE html>
<html lang="en">

  {% include 'head.liquid' %}

  <body>
    {% include 'nav.liquid' %}

    <main class="location-page" id="horizontal">
      <article
        itemscope
        itemtype='https://schema.org/CreativeWork'
        id='{{ location.slug }}'>

        <div class="multiImage">
          <picture>
            <source
              srcset='{{ location.imagePath }}.webp'
              media='(max-width: 768px), (orientation: portrait)'
              onerror='this.onerror=null;this.src="/images/Springbrook_National_Park.webp";'>
            <img
              src='{{ location.imagePath }}.webp'
              onerror='this.onerror=null;this.src="/images/Springbrook_National_Park.webp";'
              alt='{{ location.altTag[0] }}'
              itemprop='image'>
          </picture>

          {% if location.imageCount > 1 %}
            {% assign additional_images_count = location.imageCount | minus: 1 %}
            {% for i in (1..additional_images_count) %}
              {%- assign image_url_base = location.imagePath | append: '-' | append: i -%}
              {%- assign image_url = image_url_base | append: '.webp' -%}

              <picture>
                <source
                  srcset='{{ image_url }}'
                  media='(max-width: 768px), (orientation: portrait)'
                  onerror='this.onerror=null;this.src="/images/Springbrook_National_Park.webp";'>
                <img
                  src='{{ image_url }}'
                  onerror='this.onerror=null;this.src="/images/Springbrook_National_Park.webp";'
                  alt='{{ location.altTag[i] }}'
                  itemprop='image'>
              </picture>

            {% endfor %}
          {% endif %}
        </div>


        <div class='InfoPanel'>

          {% for guide in location.guides %}
            {%- assign link_href = guide.url | append: "#" | append: location.slug -%}

            {% include "components/link.liquid"
              , href: link_href
              , text: guide.title
              , tag: 'h3'
            %}
          {% endfor %}

          <h1 itemprop='headline'>{{ location.title }}</h1>
          <div class='tags' itemprop='keywords'>

            {% if location.formattedDistance and location.formattedDistance != '0m' %}
              <div class="tag">{{ location.formattedDistance }} Distance</div>
            {% endif %}

            {% if location.formattedDuration and location.formattedDuration != '0min' %}
              <div class="tag">{{ location.formattedDuration }} Duration</div>
            {% endif %}

            {% for tag in location.formattedTags %}
              {% unless tag.group == 'Distance' or tag.group == 'Duration' %}
                <div class="tag">{{ tag.name }}</div>
              {% endunless %}
            {% endfor %}

          </div>

          {% if location.detailedDescription %}
            <p itemprop='description'>{{ location.detailedDescription | newline_to_br }}</p>
          {% else %}
            <p itemprop='description'>{{ location.description | newline_to_br }}</p>
          {% endif %}


          {% if location.googleMapsLink %}

            {%- assign link_text = location.title | append: " on Google Maps" -%}

            {% include "components/link.liquid"
              , href: location.googleMapsLink
              , text: link_text
              , button: true
            %}

          {% endif %}

          {% if location.parking %}
            <div id="parking">
              <h3>Parking</h3>
              <p>{{ location.parking }}</p>
              {% if location.parkingInfo %}
                <p>{{ location.parkingInfo }}</p>
              {% endif %}
            </div>
          {% endif %}

          {% if location.amenities %}
            <div id="amenities">
              <h3>Amenities</h3>
              <p>{{ location.amenities }}</p>
              {% if location.amenitiesInfo %}
                <p>{{ location.amenitiesInfo }}</p>
              {% endif %}
            </div>
          {% endif %}

          {% if location.difficulty %}
            <div id="difficulty">
              <h3>Difficulty</h3>
              <p>{{ location.difficulty }}</p>
            </div>
          {% endif %}

          {% if location.bestTimeToVisit %}
            <div id="bestTimeToVisit">
              <h3>Best Time to Visit</h3>
              <p>{{ location.bestTimeToVisit }}</p>
            </div>
          {% endif %}

          {% if location.nearby and location.nearby.size > 0 %}
            <div id="nearby">
              <h3>Nearby</h3>
              <p>
                {% for nearbyLocation in location.nearby %}
                  <a href="{{ nearbyLocation.url }}">{{ nearbyLocation.title }}</a>
                  {%- unless forloop.last -%},{%- endunless -%}
                {% endfor %}
              </p>
            </div>
          {% endif %}

          {% comment %} <pre>
                                                                                                                                                                                    <h2>Debugging Data</h2>
                                                                                                                                                                                    <code>
                                                                                                                                                                                    {{ location.__rawFields | json }}
                                                                                                                                                                                    </code>
                                                                                                                                                      </pre> {% endcomment %}

          {% if location.faqs and location.faqs.size > 0 %}
            <h3>FAQs</h3>
            {% for faq in location.faqs %}
              <div class="faq-item">
                <h4 class="faq-question" aria-controls="faq-answer-{{ forloop.index0 }}">{{ faq.question }}</h4>
                <p
                  class="faq-answer"
                  id="faq-answer-{{ forloop.index0 }}"
                  hidden>{{ faq.answer }}</p>
              </div>
            {% endfor %}
          {% endif %}

        </div>
      </article>

    </main>

  </body>
</html>