<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- assign page_data = location | default: guide -%}
  {%- assign page_title = "Explore Your Weekend | Find amazing hikes and getaways" -%}
  {%- assign page_description = "Find the best hikes, lookouts, and scenic drives with ease. Explore stunning locations and hidden gems for your next weekend adventure." -%}
  {%- assign page_url_path = "/" -%}

  {%- if title -%}
    {%- assign page_title = title | append: " Explore Your Weekend" -%}
    {%- assign page_description = description -%}
    {%- assign page_url_path = permalink -%}
  {%- elsif page_data -%}
    {%- assign page_title = page_data.metaTitle -%}
    {%- assign page_description = page_data.shortDescription | default: page_data.description -%}
    {%- assign page_url_path = page_data.url -%}
  {%- endif -%}

  {%- if guide.canonicalURL -%}
    {%- assign canonical_url_path = guide.canonicalURL -%}
  {%- elsif location.canonicalURL -%}
    {%- assign canonical_url_path = location.canonicalURL -%}
  {%- else -%}
    {%- assign canonical_url_path = page_url_path -%}
  {%- endif -%}

  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_description }}">
  <meta name="author" content="Matthew Petralia">

  <link rel="canonical" href="https://exploreyourweekend.com{{ canonical_url_path }}" />
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="{{ page_description }}">
  <meta property="og:url" content="https://exploreyourweekend.com{{ canonical_url_path }}">
  <meta property="og:type" content="website">

  {%- if location.slug or guide.slug -%}
    {%- assign page_slug = location.slug | default: guide.slug -%}
    <meta property="og:image" content="https://exploreyourweekend.com/images/{{ page_slug | replace: ' ', '_' }}.webp">
  {%- else -%}
    <meta property="og:image" content="https://exploreyourweekend.com/ExploreYourWeekendGREEN.svg">
  {%- endif -%}

  <link rel="stylesheet" href="/main.css">
  <link
    rel="preload"
    href="/normalize.css.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/normalize.css.css"></noscript>

  <!-- Preconnect to font origins to speed up loading -->
  <link rel="preconnect" href="https://use.typekit.net">
  <link rel="preconnect" href="https://cdn.exploreyourweekend.com">
    {% comment %} <link rel="preconnect" href="https://www.googletagmanager.com"> {% endcomment %}


  <link
    rel="icon"
    type="image/x-icon"
    href="/ExploreYourWeekendFAVICON.svg">

  <script src="/code.js" defer></script>

  <!-- Defer the Adobe TypeKit script to prevent it from blocking page load -->
  {% comment %} <link
                href="https://use.typekit.net/ade3twf.css"
                rel="stylesheet"
          onload="this.onload=null;this.removeAttribute('media');"> {% endcomment %}

  <link
    rel="preload"
    href="https://use.typekit.net/ade3twf.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://use.typekit.net/ade3twf.css"></noscript>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-98383758-3"></script>
  <script>
                  window.dataLayer = window.dataLayer || [];
                  function gtag() {
                      dataLayer.push(arguments);
                  }
                  gtag("js", new Date());
                  gtag("config", "UA-98383758-3");
  </script>

  <style>
    nav {
      position: sticky;
      height: 7vh;
      width: 100vw;
      display: flex;
      z-index: 1000;
      background-color: var(--Sand);
      padding: 1.2vh 2.5%;
      box-sizing: border-box;
    }

    nav > a,
    nav > button {
      display: flex;
      box-sizing: border-box;
      width: 50%;
      color: var(--Green);
    }

    nav > button {
      background: none;
      border: none;
      cursor: pointer;
    }

    nav .InfoPanel a {
      font-size: 1.1em;
    }

    nav > a {
      font-size: 2em !important;
    }

    nav > button .icon {
      width: 2em;
      height: 2em;
    }

    nav > a {
      text-align: left;
      align-items: center;
      place-content: left;
    }

    nav > button {
      align-items: center;
      place-content: flex-end;
      text-align: right;
    }

    nav > a img {
      min-height: 100%;
      max-height: 100%;
    }

    nav > .InfoPanel {
      position: absolute;
      top: 7vh;
      width: 100%;
      height: calc(var(--vh, 1vh) * 100 - 7vh) !important;
      min-height: calc(var(--vh, 1vh) * 100 - 7vh) !important;
      left: 0;
      background-color: var(--Sand);
      z-index: 1000;
      color: var(--Green);
      overflow: scroll;
    }


    nav > div {
      display: none;
    }
  </style>

</head>