<nav>
  <a title="Home" href="/">
    <img src="/ExploreYourWeekendLogoGREEN.svg" alt="Explore Your Weekend">
  </a>
  <button
    title="Menu"
    class="menu-button"
    aria-label="Toggle navigation menu"
    data-menu-toggle>
    {% comment %} <span class="material-symbols-outlined">
                          menu
                </span> {% endcomment %}
    {% include 'components/icon.liquid'
      , name: 'menu'
      , class: 'icon text-gray-600' %}
  </button>
  <div class="InfoPanel" style="display: none;">
    <div class="tags grid">
      <a class="button" href="{{ nav.header[0].url }}">{{ nav.header[0].text }}<span class="material-symbols-outlined">chevron_right</span>
      </a>
      <a
        class="button"
        href="{{ nav.header[1].url }}"
        target="_blank">{{ nav.header[1].text }}<span class="material-symbols-outlined">arrow_outward</span>
      </a>
      <a class="button" href="{{ nav.header[2].url }}">{{ nav.header[2].text }}<span class="material-symbols-outlined">chevron_right</span>
      </a>
      <a class="button" href="{{ nav.header[3].url }}">{{ nav.header[3].text }}<span class="material-symbols-outlined">chevron_right</span>
      </a>
    </div>
    <div class="tags grid col">
      <a href="/" title="Search">
        <span class="material-symbols-outlined">
          search
        </span>Search your weekend...
        <span class="material-symbols-outlined">chevron_right</span>
      </a>

      {% for guide in guides %}
        <a
          class="button"
          href="/guides/{{ guide.slug | slugify }}/"
          onclick="myFunction()">
          {{ guide.title }}<span class="material-symbols-outlined">chevron_right</span>
        </a>
      {% endfor %}

      {% for location in locations %}
        <a
          class="button"
          href="/locations/{{ location.slug | slugify }}/"
          onclick="myFunction()">
          {{ location.title }}<span class="material-symbols-outlined">chevron_right</span>
        </a>
      {% endfor %}
    </div>
  </div>
</nav>