{%- assign cdn_prefix = "https://cdn.exploreyourweekend.com/cdn-cgi/image/quality=70,fit=cover,gravity=auto,format=webp,width=" -%}
{%- assign images = include.images -%}
{%- assign altTags = include.altTags -%}


{%- assign mode = include.mode | default: "single" -%}

{%- assign ar = include.aspect_ratio | default: aspect_ratio | default: "3:4" -%}
{%- assign aspect_ratio_parts = ar | split: ":" -%}
{%- assign width_ratio = aspect_ratio_parts[0] | plus: 0 -%}
{%- assign height_ratio = aspect_ratio_parts[1] | plus: 0 -%}
{%- assign widths = "362, 480, 592, 640, 768, 800" | split: ", " -%}

<!-- DEBUG: Mode: {{ mode }}, Images count: {{ images | size }} -->

{%- if mode == "gallery" -%}
  <div class="multiImage">
    {%- for filename in images -%}
      {%- assign current_alt = altTags[forloop.index0] -%}
      <!-- Debug in loop: Image {{ forloop.index }} alt: {{ current_alt }} -->
      <div class="image-wrapper" style="aspect-ratio: {{ width_ratio }} / {{ height_ratio }};">
        <img
          src="{{ cdn_prefix }}362/{{ filename }}"
          srcset="
                {{ cdn_prefix }}362/{{ filename }} 362w,
                {{ cdn_prefix }}480/{{ filename }} 480w,
                {{ cdn_prefix }}592/{{ filename }} 592w,
                {{ cdn_prefix }}640/{{ filename }} 640w,
                {{ cdn_prefix }}768/{{ filename }} 768w,
                {{ cdn_prefix }}800/{{ filename }} 800w"
          sizes="(max-width: 480px) 90vw, (max-width: 768px) 45vw, 30vw"
          width="362"
          height="483"
          alt="{{ current_alt }}"
          itemprop="image"
          decoding="async"
          {%- if forloop.first -%}
          fetchpriority="high"
          {%- else -%}
          loading="lazy"
          {%- endif -%}>
      </div>
    {%- endfor -%}
  </div>

{%- else -%}
  {%- assign filename = images | first -%}
  <!-- DEBUG: Single mode - showing {{ filename }} -->
  <div class="image-wrapper" style="aspect-ratio: {{ width_ratio }} / {{ height_ratio }};">
    <img
      src="{{ cdn_prefix }}362/{{ filename }}"
      srcset="
          {{ cdn_prefix }}362/{{ filename }} 362w,
          {{ cdn_prefix }}480/{{ filename }} 480w,
          {{ cdn_prefix }}592/{{ filename }} 592w,
          {{ cdn_prefix }}640/{{ filename }} 640w,
          {{ cdn_prefix }}768/{{ filename }} 768w,
          {{ cdn_prefix }}800/{{ filename }} 800w"
      sizes="(max-width: 480px) 90vw, (max-width: 768px) 45vw, 30vw"
      width="362"
      height="483"
      alt="{{ altTags[forloop.index0] }}"
      itemprop="image"
      decoding="async"
      fetchpriority="high">
  </div>
{%- endif -%}